.newsFeedContainer {
  width: 900px;
  margin: auto;
  margin-top: 12px;
}

// .newsFeedHead {
//   width: 700px;
//   height: 120px;
//   background-color: blue;
//   border: 1px solid darkgray;
//   margin-bottom: 12px;
// }

.newsFeedPosts {
  // margin-top: 12px;
}
