.postIndexContainer {
  width: 500px;
  min-height: 200px;
}

.postAvi {
  height: 38px;
  width: 38px;
  border-radius: 50px;
}

.postContainer {
  width: 504px;
  min-height: 200px;
  background-color: white;
  margin-top: 10px;
  padding: 12px;
  border: 1px solid darkgray;
  border-radius: 3px;
}

.postHead {
  display: flex;
  align-items: center;
  border-bottom: 1px solid darkgray;
  padding-bottom: 5px;
}

.posterName {
  font-weight: 300;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.postPart {
  min-height: 150px;
  border-bottom: 1px solid darkgray;
}

.postBody {
  padding-left: 10px;
  padding-right: 10px;

}

.commentContainer {
  background-color: #f2f3f5;
  min-height: 43px;
  margin-top: 5px;
  padding-top: 10px;
  // padding-bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 3px;
  text-align: right;
  // text-justify: right;
}

.postText {
  font-size: 16px;
  font-weight: 300;
}
