.profileBottomFriends {
  width: 876px;
  min-height: 200px;
  margin: auto;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 12px;
}

.friendsSearchNav {
  display: flex;
  height: 55px;
  justify-content: space-between;
  border: 1px solid darkgray;
  border-radius: 2px;
  align-items: center;
  margin-bottom: 12px;
  background-color: white;
}

.friendsSearchBar {
  height: 30px;
  width: 140px;
  margin-right: 14px;
  border-radius: 2px;
  // border: 1px solid lightgray;
}

.friendsNavHeader {
  font-weight: 400;
  margin-left: 24px;
}

.emptyFriendships {
  margin: auto;
  width: 100%;
  min-height: 200px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.friendText {
  margin:auto;

}
