body {
  margin: 0;
  padding: 0;
}
 @font-face {
   font-family: 'Klavika-Bold';
   src: font-url('Klavika-Bold.woff')  format('woff');
 }

 @font-face {
   font-family: 'Klavika-BoldCond';
   src: font-url('klavika-boldcond.ttf')  format('truetype');
 }

 @font-face {
   font-family: 'Klavika-Regular';
   src: font-url('Klavika-Regular.ttf')  format('truetype');
 }

 @font-face {
   font-family: 'Klavika-Bold-Open';
   src: font-url('Klavika-Bold.otf')  format('opentype');
 }

 @font-face {
   font-family: 'FaceBook';
   src: font-url('FACEBOLF.OTF')  format('opentype');
 }

 @font-face {
   font-family: 'LucidaGrande';
   src: font-url('LucidaGrandeBold.ttf')  format('truetype');
 }

#logo {
  font-family: 'LucidaGrande';
  font-size: 40px;
  color: white;
  padding: 34px 0 0 0;
  font-weight: 700
}

.loginHeader {;
  background-color: #4267b2;
  height: 82px;
  border-bottom: 1px solid darkblue;
  display: flex;
  justify-content: center;
}

.loginBar {
  justify-content: space-between;
  display: flex;
  width: 940px
}

/* app/assets/fonts/Klavika-Bold.woff */
.loginForm {
  font-family: Klavika-Regular;
  font-size: 13px;
  margin-top: 12px;
  justify-content: space-between;
  display: flex;
}

.loginForm > div {
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: column;
}

.loginForm > div > input {
  width: 140px;
  background-color: white;
  border: 1px solid black;
  font-size: 12px;
  padding: 3px;
  height: 16px;
}

.loginForm > div > button {
  margin-top: 18px;
  border: 1px solid darkblue;
  border-radius: 3px;
  background-color: #4266b2;
  font-size: 11px;
  color: white;
  padding: 3px;
  width: 44px;
}

.loginForm > div > button:hover {
  background-color: #3B5998;
}

.errors{
  color: red;
}

.loginForm > span {
  padding-top: 25px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 10px;
}




#splashContainer {
  width: 900px;
  display: flex;
  justify-content: center;
}


.main1 {
  width: 55%;
}

.main2 {
  width: 45%;
}

#zaddy {
  height: 710px;
  background-color: #edf0f5;
  display: flex;
  justify-content: center;
}

main > div > h1{
  padding: 10px 20px 0px 7px;
  width: 440px;
  height: auto;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 34px
}

main > div > h3 {
  padding: 0px 0px 0px 7px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.signContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

.signupForm > span {
  padding-left: 8px;
  height: 40px;
}

.signupForm > input {
  width: 370px;
  margin: 6px
}

.signupForm > div > input {
  width: 170px;
  margin: 6px;
}

.signupInput {
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  height: 27px;
  padding: 7px 6px 6px 6px ;
  padding-left: 10px;
  margin: 0 auto;
  font-size: 18px;

}

.signupInput::placeholder {
  font-size: 16px;
  color: #999999
}

.splashButton {
  margin: 8px 0 0 7px;
  background: linear-gradient(#61a14e, #5c9448);
  // background-color: #5d984a;
  width: 200px;
  height: 38px;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 700;
  border: 1px solid #2d5115;
  border-radius: 7px;
  text-shadow: 1px 1px #000000;
  box-shadow: 0 0 0 0px #95d67b, inset 0px 1px 2px 0px #fff;

}

.features > div {
  margin: 30px 5px 5px -25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: sans-serif;
  padding: 5px 5px 5px 5px;
}

.features > div > img {
  width: 45px;
  margin-right: 14px;
}

.features > div > p > b {
  font-size: 16px;
}

.transistor {
  position: relative;


}

#splashImage1 {
  width: 380px;
  height: 498px;
  padding: 30px 50px 50px 20px;
  position: absolute;
}
#splashImage2 {
  width: 380px;
  height: 498px;
  padding: 30px 50px 50px 20px;
  position: absolute;
}
#splashImage3 {
  width: 380px;
  height: 498px;
  padding: 30px 50px 50px 20px;
  position: absolute;
}
#splashImage4 {
  width: 380px;
  height: 498px;
  padding: 30px 50px 50px 20px;
  position: absolute;
}
#splashImage5 {
  width: 380px;
  height: 498px;
  padding: 30px 50px 50px 20px;
  position: absolute;
}

@keyframes transistorFadeInOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity:0;
  }
  75% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
  // 100% {
  //   opacity:1;
  // }
}

.transistor img {
  animation-name: transistorFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
}

.transistor img:nth-of-type(1) {
  animation-delay: 16s;
}
.transistor img:nth-of-type(2) {
  animation-delay: 12s;
}
.transistor img:nth-of-type(3) {
  animation-delay: 8s;
}
.transistor img:nth-of-type(4) {
  animation-delay: 4s;
}
.transistor img:nth-of-type(5) {
  animation-delay: 0s;
}
